
.btn {
    border-radius: 10%;
    padding: 0.6rem 2rem;
}

.btn_blue {
    background-color: blue;
    color: white;
}


.btn_green {
    background-color: green;
    color: white;
}

.btn_red {
    background-color: lightcoral;
    color: white;
}

.btn-outline-danger {
    color: red !important;
}


.btn_gray {
    background-color: grey;
    color: white;
}


.btn_lightgray {
    background-color: lightgray;
    color: black;
}
