.form-item {
    margin-top: 1.5rem;
}
.form-controll {
    padding: 1rem;
}

.inline_form_block .form-item {
display: inline-block;
}

.show_form {
    padding: 1.5rem;
}

.input-inline {
    padding: 0 1rem;
    min-width: 10rem;
}

.form-input_grout_inline {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
