.container {
    width: 100%;
    /*height: 100%; */
    display: grid; grid-template-columns: 20% 80%;
}

.content {
    border: 1px lightgray solid;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0 1rem;
}

